<!-- Begin Container -->
<div class="box">

    <h1 class="title">Full-Width</h1>
    
    <div class="one-third">
      <div class="outer none"><span class="inset"><img src="http://themes.iki-bir.com/obscura-wp/wp-content/uploads/about.jpg" alt="About" title="About" /></span></div>
    </div>
    
    <div class="two-third last">
    <!-- End Post -->   
      <div id="respond">
        <h3 id="reply-title">Sign up</h3>
        <!--   <form action="#" method="post" id="commentform"> -->
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <p class="comment-notes">Your email address will not be published. Required fields are marked <span class="required">*</span></p>
          <p class="comment-form-url">
            <%= f.label :nickname %><br />
            <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
          </p>
          <p class="comment-form-url">
            <%= f.label :email %><br />
            <%= f.email_field :email %>
          </p>
          <p class="comment-form-url">
            <%= f.label :image %><br />
            <%= f.email_field :image %>
          </p>
          <p class="comment-form-url">
            <%= f.label :password %>
              <% if @validatable %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </p>
          <p class="comment-form-comment">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </p>
          <p class="form-submit">
          <%= f.submit "Sign up" %>
          </p>
        <% end %>
        <!-- </form> -->
      </div><!-- #respond --> 
    </div>  
    <!-- End Comment Wrapper -->
  </div>
  <div class="clear"></div>

</div>
<!-- End Container -->