<div class="box">
  <h1 class="title"><p><%= @nickname %></p></h1>
  <div class="one-third">
    <div class="outer none"><span class="inset">
      <div class="sidebar box">
        <div class="sidebox widget">
            <h3 class="widget-title">Profile</h3>
            <% if @user.id == current_user.id %>
            <em><%= link_to "edit", "/users/#{@user.id}/edit" %></em>
            <% end %>
            <ul class="post-list">
                <li> 
                  
              </li>
              <li> 
                <div class="frame">
                    <%= image_tag "#{@user.image}", :class => "profile_img"%>
                </div>
                <div class="meta">
                  <h6><%= @user.nickname %></h6>
                  <em>registered at : <%= @user.created_at if @user.created_at?%></em>
                </div>
              </li>
            </ul>
        </div>
        <div class="sidebox widget">
          <h3 class="widget-title">愛車</h3>
          <% @user.mycycles.each do |mycyc|  %>
          <div class="cycle_img"><%= image_tag "#{mycyc.image}" %></div>
            <div class="cycle_txt"><%= mycyc.name %></div>
          <% end %>
      </div>
      <div class="sidebox widget">
          <h3 class="widget-title">About me</h3>
            <ul>
              <li>
                <%= @user.profile %>
            </li>
          </ul>
      </div>
        
    </div>
      <!--End Sidebar -->

    </span></div>
  </div>

  <div class="two-third last">
    <!-- Begin Blog Grid -->
    <div class="blog-wrap">
      <!-- Begin Blog -->
      <div class="blog-grid">
        <!-- Begin Image Format -->
        <p><%= @nickname %>さんの投稿</p>
        <% @articles.each do |article| %>
        <div class="post format-image box"> 
          <div class="frame">
            <%= link_to image_tag(article.image), "/cycle/#{article.id}" %>
          </div>
          <h2 class="title"><%= link_to "#{article.title}", "/cycle/#{article.id}" %></h2>
          <p><%= article.text %></p>
          <div class="details">
            <span class="icon-image"><%= article.created_at %></span>
            <span class="comments"><%= article.comments.count %></span>
          <% if user_signed_in? && current_user.id == article.user.id %>
            <span class="delete"><%= link_to 'Delete', "/cycle/#{article.id}", method: :delete %></span>
            <span class="edit"><%= link_to 'Edit', "/cycle/#{article.id}/edit", method: :get %></span>
          <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
